---
import ButtonGroup from "./ButtonGroup";
---

<div id="any-business">
  <div class="container">
    <h2 class="display-4 fw-medium text-body-emphasis text-center mx-auto mb-4">
      One website builder for any business
    </h2>
    <p class="col-lg-8 mx-auto lead text-center mb-4">
      To build your own website, all you need to do is add content.
    </p>
  </div>
  <ButtonGroup client:idle />
</div>

<div class="container col-xxl-8 py-3 pt-5 py-md-5">
  <div class="row flex-lg-row  g-5 pt-5 py-md-5 ">
    <div class="col-10 col-sm-8 col-lg-6">
      <img
        src="/images/Urban Bread.png"
        class="d-block mx-lg-auto img-fluid"
        width="1850"
        height="1450"
        loading="lazy"
      />
    </div>
    <div class="col-lg-6 d-flex flex-column g-5">
      <div>
        <h3 class="display-6 fw-bolder text-body-emphasis mb-3">
          Build a Website with Ease
        </h3>
        <p class="lead">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi sit deleniti quam ut aperiam placeat, illo,
 repellendus odit, autem perspiciatis quae quidem molestiae. Eos, autem. Odio error facilis sequi officia!
        </p>
      </div>

      <div>
        <h3 class="display-6 fw-bolder  mb-4">
          Real-time editor
        </h3>
        <p class="lead">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi sit deleniti quam ut aperiam placeat, illo,
          repellendus odit.
        </p>
      </div>

      <div>
        <h3 class="display-6 fw-bolder text-body-emphasis mb-3">
          Safe and reliable
        </h3>
        <p class="lead">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi sit deleniti quam ut aperiam placeat, illo,
          repellendus odit.
        
        </p>
      </div>
    </div>
  </div>
</div>
<style>
  .container {
    width: 95%;
  }
  #any-business {
    background-color: #f8f8fa;
    padding: 100px 0;
  }
  #any-business .container h1 {
    width: 50%;
  }
  @media screen and (max-width: 992px) {
    #any-business .container h1 {
      width: 95%;
    }
  }
</style>
