---
import ActionButton from "./ActionButton.astro";

---

<div class="container my-5 py-5">



    <div class="row  pb-4 pe-lg-0 pt-lg-5 align-items-center ">
     
      <div class="col-lg-7  pt-lg-3">
        <h2 class="display-4 fw-bold lh-1 text-body-emphasis display-4 fw-medium text-body-emphasis mb-4 ">Create a website that can grow with you</h2>
        <p class="lead text-tertiary">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
          <ActionButton text = "Get started"/>
       
        </div>
      </div>
      
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden px-3 px-md-0">
          <img class="rounded-lg-3" src="/images/learning-dashbord.png" alt="" width="500" >
      </div>
    </div>
  </div>
  <style>
    .container {
  width: 95%;
  position: relative;
  }
.img{
  object-fit: cover;
}
  </style>