
<div class="home-image container">
    <img src="https://cdn.dribbble.com/userupload/2834750/file/original-7304abbfff1a6c79f0c4d171bca84582.png?resize=1200x900&vertical=center" alt="">
</div>

<style is:global>
    .home-image{
        padding-top: 100px;
    }
    .home-image img {
       width: 55%;
      
    }
    @media  screen and (max-width:800px) {
        .home-image img {
       width: 85%;
      
    }
    }
</style>
