---
import ServiceCard from "./ServiceCard.astro";


---

<div class="container">
    <header class="d-flex justify-content-between row">
        <div class="col-12 col-md-4">
            <h2 class="display-6 text-body-emphasis fw-semibold">
                Unlimited possibilities and secure
            </h2>
        </div>
        <div class="col  d-flex align-items-center justify-content-md-end ">
            <p class="fw-medium" style="color: gray;">we are trusted by more than 500+ companies</p>
        </div>
    </header>
    <main class="py-5" >

<div class="container ">
<div class="my-1 my-md-5 row flex-column flex-md-row">

<!-- serviceCards -->
<ServiceCard 

serviceTitle="Ease of use"
/>
<ServiceCard 

serviceTitle="Unlimited creation"
/>
<ServiceCard 

serviceTitle="Secure"
/>


</div>


</div>

    </main>
</div>
